@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  --tw-prose-body: theme('colors.zinc.700');
  --tw-prose-headings: theme('colors.zinc.900');
  --tw-prose-links: theme('colors.blue.500');
  --tw-prose-bold: theme('colors.zinc.900');
  --tw-prose-counters: theme('colors.zinc.500');
  --tw-prose-bullets: theme('colors.zinc.300');
  --tw-prose-hr: theme('colors.zinc.200');
  --tw-prose-quotes: theme('colors.zinc.600');
  --tw-prose-quote-borders: theme('colors.zinc.200');
  --tw-prose-captions: theme('colors.zinc.500');
  --tw-prose-code: theme('colors.zinc.900');
  --tw-prose-pre-code: theme('colors.zinc.200');
  --tw-prose-pre-bg: theme('colors.zinc.900');
  --tw-prose-th-borders: theme('colors.zinc.200');
  --tw-prose-td-borders: theme('colors.zinc.100');
}

.dark .prose {
  --tw-prose-body: theme('colors.zinc.300');
  --tw-prose-headings: theme('colors.zinc.100');
  --tw-prose-links: theme('colors.blue.400');
  --tw-prose-bold: theme('colors.zinc.100');
  --tw-prose-counters: theme('colors.zinc.400');
  --tw-prose-bullets: theme('colors.zinc.600');
  --tw-prose-hr: theme('colors.zinc.700');
  --tw-prose-quotes: theme('colors.zinc.400');
  --tw-prose-quote-borders: theme('colors.zinc.700');
  --tw-prose-captions: theme('colors.zinc.400');
  --tw-prose-code: theme('colors.zinc.100');
  --tw-prose-pre-code: theme('colors.zinc.300');
  --tw-prose-pre-bg: theme('colors.zinc.800');
  --tw-prose-th-borders: theme('colors.zinc.700');
  --tw-prose-td-borders: theme('colors.zinc.800');
}

.prose a {
  text-decoration: none;
}

.prose a:hover {
  text-decoration: underline;
}
